body, html {
  padding: 0;
  margin: 0;
}
.container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  cursor: pointer;;
}
.text {
  font-size: 12rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  mix-blend-mode: screen;
}